/* Header_section by Thaariq Kurnia */
body {
	font-family: "Avenir Next";
	margin: 0;
}
header {
	height:70px;
	width: 100%;
 	background-color: rgba(34, 49, 52, 0.9);
 	position: fixed;
  top: 0;
  z-index: 10;
}
li {
	list-style: none;
}
a{
	text-decoration:none;
}

.header-left {
	float: left;
}
.logo {
  width: 50px;
  margin-left: 20px;
}
.header-right {
	float: right;
	height: 70px;
	font-size: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 320px;
  overflow: auto;
}
.a{
  	transition: all 0.5s;
  	display: block;
}
.b {
  	transition: all 0.5s;
  	display: block;
}
.c {
  	transition: all 0.5s;
  	display:block;
}
.header-right a {
	color:white;
	line-height: 55px;
	padding:0 20px;
}
.header-right li{
	float: left;
}
.a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.b:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.c:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Contact Us_Section by Mohammad Aryo Wibowo */

.contact_us {
  padding: 100px 80px;
}

.contact_title{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align:center;
}

input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 15px;
  border: 1px solid #dee7ec;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right:auto;
}

.contact_submit {
  background-color:#dee7ec;
  color:#889eab;
}

.contact_us h3, p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

/*main_section by wahyu nur dewanthi*/
.main {
  background-image: url(assets/main.jpeg);
	background-size: cover;
  padding: 180px 0 100px 0;
}
.copy-container h1 {
  font-style: normal;
  font-family: helvetica;
  color: white;
  font-size: 60px;
  text-align: center;
}

/* footer_section by I Nyoman Adi Sanjaya */
.footer {
  background-color:rgba(34, 49, 52, 0.9);
  color:#fff;
  height:60px;
  padding:20px 0px;
}
.footer-list a{
	color:#fff;
}

img{
	padding:10px 50px;
  float: left;
  width:50px;
}
.about{
  float: right;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}
.work{
  float: right;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}
.contact{
  float: right;
  padding-right:80px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}

/* content_section by Muhammad Halif  */

.content {
  display: inline-block;
  width: 20%;
  height: 120px;
	animation-name: a;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 15px;
  border-radius: 5px;

}

.content h4,p {
padding: 10px;
color: #ffff;
}

.content h5 {
	color:black;
}


.contents a {
text-decoration: none;
color: black;
}

.content-section {
  text-align: center;
}

.content:hover {
background-color: grey;
}

/* animation_section */
@keyframes a {
  0%   {background-color: #6a89cc;}
  25%  {background-color: #4a69bd;}
  50%  {background-color: #1e3799;}
  100% {background-color:#0c2461;}
}
