/* Contact_us Section */

.contact_us {
  padding: 100px 80px;
}

.contact_title{
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  text-align:left;
}

input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact_submit {
  background-color:#dee7ec;
  color:#889eab;
}

/* footer css */
img{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:80px;
  float: left;
  width:30px;
}
.about{
  float: right;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}
.work{
  float: right;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}
.contact{
  float: right;
  padding-right:80px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}

.content {
  display: inline-block;
  width: 20%;
  height: 120px;
  background-color: #f7f7f7;
  margin: 15px;
  border-radius: 5px;

}

.content h4, p {
padding: 10px;
}

.contents a {
text-decoration: none;
color: black;
}

.content-section {
  text-align: center;
}

.content:hover {
background-color: grey;
}

@media all and (max-width: 1000px){
.content {
  width: 35%;
}
}

@media all and (max-width: 670px){
.content {
  width: 50%;
}
}
